<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Machine Shift List</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/flag-icon.min.css">
    <link rel="stylesheet" href="/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="/css/lib/datatable/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="/scss/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

   
       

    <style type="text/css">
       
       #calculate{
     display:none;
     }
    
        .modal-backdrop.show {
            display: none;
        }

        .modal-backdrop.fade {
            display: none;
        }

/*
        div.dataTables_wrapper {
            width: 100%;
        }
*/
		.selected{
			background-color: #eee;
			color: #000;
		}
		
		.dataTables_length, .dataTables_filter {
			display: none !important;
		}
    </style>
    
    
    <style>
.custom-header-panel{
    background-color: #004b8e !important;
    border-color: #004b8e !important;
    color: white;
}


.panel {
  padding: 15px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-heading {
  padding: 10px 15px;
  margin: -15px -15px 15px;
  font-size: 17.5px;
  font-weight: 500;      
  background-color: #f5f5f5;
  border-bottom: 1px solid #dddddd;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.panel-footer {
  padding: 10px 15px;
  margin: 15px -15px -15px;
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
} 

.panel-primary {
  border-color: #428bca;
}

.panel-primary .panel-heading {
  color: #ffffff;
  background-color: #428bca;
  border-color: #428bca;
}
/* This kinda of works but now 
.panel, .panel-group .panel-heading+.panel-collapse>.panel-body{
    border: none;
}
*/
.card-header{
    /* background-color: #004b8e !important; */
    background-color: #004b8e !important;
    border-color: #004b8e !important;
    color: white;

    padding: 10px 15px;
  /*margin: -15px -15px 15px; */

  font-size: 17.5px;
  font-weight: 500;      
  background-color: #f5f5f5;
  border-bottom: 1px solid #dddddd;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}


 <style type="text/css">
       
       #calculate{
      display:none;
     }
    
        .modal-backdrop.show {
            display: none;
        }

        .modal-backdrop.fade {
            display: none;
        }

/*
        div.dataTables_wrapper {
            width: 100%;
        }
*/
		.selected{
			background-color: #eee;
			color: #000;
		}
		
		.dataTables_length, .dataTables_filter {
			display: none !important;
		}
    </style>


</head>

<body>




<!-- Left Panel -->

	<aside id="left-panel" class="left-panel">
		<nav class="navbar navbar-expand-sm navbar-default">

			<div class="navbar-header">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
					<i class="fa fa-bars"></i>
				</button>
				<a class="navbar-brand" href="./">MLFM</a>
				<a class="navbar-brand hidden" href="./">BD</a>
			</div>

			<div id="main-menu" class="main-menu collapse navbar-collapse">
				<ul class="nav navbar-nav">
				
			
                
   <li class="menu-item-has-children dropdown" >
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <i class="menu-icon fa fa-laptop"></i>    Set Up
          </a>
        
       <ul class="sub-menu children dropdown-menu" aria-labelledby="navbarDropdown">
             <li th:each="s:${listModelUserObjectSetup}"
                   th:value="${s.userObjectId}">
             <!--   <a class="dropdown-item" th:href="${s.modelObject.filePath}"> -->
                   <a class="dropdown-item" th:href="@{${s.modelObject.filePath}+'/'+${s.modelUser.userId}}" >
                   <span th:utext="${s.modelObject.objectName}">
                   </span>
                </a>
            </li>
          
        </ul>
        
   </li>
   
      
	 <li class="menu-item-has-children dropdown">
     
       <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="menu-icon fa fa-laptop"></i> Transaction
        </a>
        
           <ul class="sub-menu children dropdown-menu" aria-labelledby="navbarDropdown">
              <li th:each="t:${listModelUserObjectTransaction}"
                   th:value="${t.userObjectId}">
                     <!-- <a class="dropdown-item" th:href="${t.modelObject.filePath}"> -->
                       <a class="dropdown-item" th:href="@{${t.modelObject.filePath}+'/'+${t.modelUser.userId}}" >
                         <span th:utext="${t.modelObject.objectName}">
                         </span>
                      </a>
              </li>
          </ul>
      </li>			
				
        	
		   	
		<li class="menu-item-has-children dropdown">
     
             <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="menu-icon fa fa-laptop"></i>   Tools
             </a>
        
            <ul class="sub-menu children dropdown-menu" aria-labelledby="navbarDropdown">
                <li th:each="u:${listModelUserObjectTool}"
                     th:value="${u.userObjectId}">
                 <!--   <a class="dropdown-item" th:href="${u.modelObject.filePath}">   -->
                   <a class="dropdown-item" th:href="@{${u.modelObject.filePath}+'/'+${u.modelUser.userId}}" >
                    <span th:utext="${u.modelObject.objectName}">
                    </span>
                 </a>
               </li>
          
            </ul>
       </li>	


		<li class="menu-item-has-children dropdown">
     
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="menu-icon fa fa-laptop"></i> Report
              </a>
        
              <ul class="sub-menu children dropdown-menu" aria-labelledby="navbarDropdown">
                   <li th:each="r:${listModelUserObjectReport}"
                        th:value="${r.userObjectId}">
                       <!-- <a class="dropdown-item" th:href="${r.modelObject.filePath}">   -->
                          <a class="dropdown-item" th:href="@{${r.modelObject.filePath}+'/'+${r.modelUser.userId}}" >
                           <span th:utext="${r.modelObject.objectName}">
                           </span>
                       </a>
                   </li>
          
              </ul>
        </li>	
					
					
					
	             </ul>
			</div>
		</nav>
	</aside>



	<!-- Left Panel -->




   

    <!-- Right Panel -->

    <div id="" class="right-panel">
<!-- Header-->
		<header id="header" class="header">

			<div class="header-menu">
<!--
				<div class="col-sm-4">
					<a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
					<div class="header-left">
						<button class="search-trigger"><i class="fa fa-search"></i></button>
						<div class="form-inline">
							<form class="search-form">
								<input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
								<button class="search-close" type="submit"><i class="fa fa-close"></i></button>
							</form>
						</div>

					</div>
				</div>
-->
		<!--
				<div class="col-sm-5">
					<div class="user-area dropdown float-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="images/admin.jpg" alt="User Avatar">
                        </a>

						<div class="user-menu dropdown-menu">
							<a class="nav-link" href="#"><i class="fa fa- user"></i>My Profile</a>
							
							<input type="text" class="nav-link" th:value="${userId}" id="accessUserId" readonly>

							<a class="nav-link" href="/logoncontroller/init"><i class="fa fa-power -off"></i>Logout</a>
						</div>
					</div>
                </div>
         -->       
                  
                        <div class="col-sm-4 text-right" >
                         
                      </div> 
               
                      <div class="col-sm-8 text-right" >
                          
                           <a class="nav-link" href="/logoncontroller/init"  style="float:right;" ><i class="fa fa-power -off"></i>Logout</a>
                            <span class="nav-link" th:text="${name}"readonly style="color: black; float:right; padding-left:5px;"></span>  
                            <span class="nav-link" style="color: black; float:right; padding-right:0px;">User : </span>  
                           
                          
                         
                       </div>
                 
			</div>

		</header><!-- /header -->
		<!-- Header-->
        
        <div class="container">

 <!-- <div class="row">  -->


<!-- <div class="col-md-offset-2 col-md-8"> -->
	
    <div class="panel">
      <div class="panel-heading custom-header-panel">
          <h5 class="panel-title roboto">Machine Shift List Info</h3>
      </div>
  <div class="panel-body">



  <!-- <h3> Patient Registration </h3>   -->
  
  
  <div class="row">
                    <form class="needs-validation" th:action="@{/machine_shift/search}"   novalidate>
                    
                        <div class="col-4">
                            <div class="form-group">
                                <label class="control-label mb-1">Machine Shift Name</label>
                                <input  type="text" class="form-control" aria-required="true" aria-invalid="false" value="" name ="Machine_Shift_Name" placeholder="Name" >
                            </div>
                        </div>
                   
						
							<div class="col-5">
								<div class="form-group">
									<label class="control-label mb-1">Remarks</label>
										<input  id="cc-pament" type="text" class="form-control" aria-required="true" aria-invalid="false" value="" name="remarks" placeholder="Remarks" >
								</div>
							</div>
							
             
                       	
							
                     			<div class="col-1">
									<div class="form-group">
										<label class="control-label mb-1">Active</label>
														<!-- Default checked -->
										<div class="custom-control custom-checkbox">
											 <input type="checkbox" class="custom-control-input" id="defaultChecked2" name ="active" checked>
											<label class="custom-control-label" for="defaultChecked2"></label>
										</div>
														<!--<input type="checkbox" class="form-control" aria-required="true" aria-invalid="false" th:field="*{active}"-->
									</div>
								</div>
								
                        <div class="col-2">
                            <div class="form-group">
                                <label for="" class="control-label mb-1"></label>
                                <input style="margin-top: 7px" id="" type="submit" value="SEARCH" class="form-control btn-primary btn-sm" aria-required="true" aria-invalid="false" name="" placeholder="Name" >
                            </div>

                        </div>
                    </form>
                </div>
                
                
                
                <div class="row">

                    <div class="col-12">
                    	<div class="card table-container" style="width: 1070px; overflow-x: scroll">
                    	<div class="card-head text-right">
                    		<a th:href="@{'/machine_shift/'+${userId}}" style="text-align: center; margin: 5px" class="btn btn-success">New</a>
                    	</div>
                    		<div class="card-body">
                    			<table id="myTable" class="table nowrap ">
                                    <thead>
                                            
                                        <tr>
                                          <th hidden >Machine Shift Id</th>
                       						 <th>Name</th>
                       					 	
                        					<th>Remarks</th>
                       					 <th>Active</th>
                       					 <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       <tr th:each="machine_shift:${MachineShiftList}">
                                       
                                           <td hidden><span th:text="${machine_shift.machineShiftId}"></span></td>
                                           
										   <td><span th:text="${machine_shift.machineShiftName}"></span></td>
                                            
                                           <td style="">
                                                       <textarea rows="2" cols="60" th:text="${machine_shift.remarks}" readonly > </textarea>
                                           </td>
                                           
                                          <td class="text-center">
                                            	
												 <input type="checkbox" id="defaultChecked9" th:checked="${machine_shift.active} ? 'checked'" readonly>
										 </td>
                                            
		  								<td>
                                            <a th:href="@{'/machine_shiftcontroller/'+${machine_shift.machineShiftId}}" class="btn btn-success btn-sm">Edit</a>
                                        </td>
                                          
                                        </tr>
                                       

                                    </tbody>
                                </table>
                    		</div>
                    	</div>

                    
                        
                                

                            </div>

                       
                       
                        </div>
  

        </div>   <!-- <div class="panel-body">  -->



                   </div>   <!-- <div class="panel">  -->
                     
                     

                </div>

            </div>
            
            
            
        
            
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!--    <script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>-->

    <script src="/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>


    <script src="/js/lib/data-table/datatables.min.js"></script>
    <script src="/js/lib/data-table/dataTables.bootstrap.min.js"></script>
    <script src="/js/lib/data-table/dataTables.buttons.min.js"></script>
    <script src="/js/lib/data-table/buttons.bootstrap.min.js"></script>
    <script src="/js/lib/data-table/jszip.min.js"></script>
    <script src="/js/lib/data-table/pdfmake.min.js"></script>
    <script src="/js/lib/data-table/vfs_fonts.js"></script>
    <script src="/js/lib/data-table/buttons.html5.min.js"></script>
    <script src="/js/lib/data-table/buttons.print.min.js"></script>
    <script src="/js/lib/data-table/buttons.colVis.min.js"></script>
    <script src="/js/lib/data-table/datatables-init.js"></script>
     <script type="text/javascript">
        $(document).ready(function() {
            $('#myTable').DataTable({
                "scrollX": true
            });

        });
		
		$(document).ready(function() {
			var table = $('#myTable').DataTable();
		 
			$('#myTable tbody').on( 'click', 'tr', function () {
				if ( $(this).hasClass('selected') ) {
					$(this).removeClass('selected');
				}
				else {
					table.$('tr.selected').removeClass('selected');
					$(this).addClass('selected');
				}
			} );
		 
			$('#button').click( function () {
				table.row('.selected').remove().draw( false );
			} );
	
		} );
    
    </script>
      
      
      
      
            
</body>

</html>