<html>

<head>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css">

</head>



<body>
	<div id="login">
    <h3 class="text-center text-white pt-5">Login form</h3>
    <div class="container">
        <div id="login-row" class="row align-items-center">
            <div id="login-column" class="col-md-6">
                <div class="login-box col-md-12">
                   
                   
                   
             <div class="row">   

                        <div class="col-12">
                    	     <div class="card table-container" style="width: 1070px; overflow-x: scroll">
                    	     <div class="card-head text-right">
                        </div>
                    
                    
                    <div class="card-body">
                    
                    			<table id="myTable" class="table nowrap ">
                                    <thead>
                                            
                                        <tr>
                                            <th>User Name</th>
                       					    <th>Access Object</th>
                        				  
                       					</tr>
                                        
                                    </thead>
                                    
                                    <tbody>
                                        
                                        <tr>
                                           <td></td>
										    <td></td>
                                        </tr>
                                       
                                     </tbody>
                                </table>
                                
                    		</div>
                    	</div>
                    	
                    	
                   
                   
                   
                   
                </div>
            </div>
        </div>
    </div>
</div>





  



       
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!--    <script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>-->

    <script src="/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>


    <script src="/js/lib/data-table/datatables.min.js"></script>
    <script src="/js/lib/data-table/dataTables.bootstrap.min.js"></script>
    <script src="/js/lib/data-table/dataTables.buttons.min.js"></script>
    <script src="/js/lib/data-table/buttons.bootstrap.min.js"></script>
    <script src="/js/lib/data-table/jszip.min.js"></script>
    <script src="/js/lib/data-table/pdfmake.min.js"></script>
    <script src="/js/lib/data-table/vfs_fonts.js"></script>
    <script src="/js/lib/data-table/buttons.html5.min.js"></script>
    <script src="/js/lib/data-table/buttons.print.min.js"></script>
    <script src="/js/lib/data-table/buttons.colVis.min.js"></script>
    <script src="/js/lib/data-table/datatables-init.js"></script>








<script>
/*
 $('.checkUserDataBtn').click(function(e) {
 
  
   
    var userName = document.getElementById("username").value;
    var password = document.getElementById("password").value;
    
    
  
  
   var formData= { 
        
   			     "userName" : userName,
   			     "password" : password
   			  
   			   };
   			   
   			   
   			   
   			    $.ajax({
		            type : "GET",	    		           
		             url:"/logoncontroller/validateuserpassword",
		            dataType : 'json',
			        data: formData,
		            success: function(result){
		            
		            
		          
		            
		             	
		             
		             
		            	
		            }
		            
		            
			 });

 		       
   	 });
  */ 	 
</script>






</body>


</html>